@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.js";

:root {
  --background: var(--color-neutral-pearl);
  --foreground: var(--color-neutral-charcoal);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "fort", sans-serif;
  --font-sans-condensed: "fort-condensed", sans-serif;
  --font-sans-xcondensed: "fort-xcondensed", sans-serif;
  --font-field-gothic: 'field-gothic-xxxcondensed', sans-serif;
  --font-league-gothic: 'League Gothic', sans-serif;
  --color-neutral-charcoal: rgba(56, 56, 56, 1);
  --color-neutral-dove: rgba(216, 215, 214, 1);
  --color-neutral-pearl: rgba(247, 244, 235, 1);
  --color-neutral-pearl-dark: #F0EBDB;
  --color-neutral-pewter: rgba(118, 119, 122, 1);
  --color-neutral-slate: rgba(104, 129, 151, 1);
  --color-primary-cuny-blue: rgba(0, 51, 161, 1);
  --color-primary-indigo: rgba(1, 29, 73, 1);
  --color-primary-midtown-blue: rgba(40, 105, 175, 1);
  --color-primary-navy: rgba(31, 55, 105, 1);
  --color-primary-sky: rgba(163, 201, 255, 1);
  --color-primary-white: rgba(255, 255, 255, 1);
  --color-secondary-chartreuse: rgba(194, 213, 0, 1);
  --color-secondary-grape: rgba(81, 12, 118, 1);
  --color-secondary-lemonade: rgba(255, 238, 29, 1);
  --color-secondary-ochre: rgba(197, 146, 44, 1);
  --color-secondary-tangerine: rgba(230, 95, 36, 1);
  --color-secondary-taxi: rgba(255, 255, 187, 1);
  --color-secondary-thistle: rgba(222, 194, 235, 1);
  --color-white: rgba(255, 255, 255, 1);

  --color-body: var(--color-neutral-charcoal);
  --color-heading: var(--color-primary-cuny-blue);
  --color-link: var(--color-primary-cuny-blue);
  --color-link-hover: var(--color-primary-navy);
  --color-bg-light: var(--color-neutral-pearl);

  --animate-marquee-infinite: marquee 30s linear infinite;

  @keyframes marquee {
    to {
      transform: translateX(-50%);
    }
  }
}

@utility prose {
  --tw-prose-headings: var(--color-body);
  --tw-prose-lead: var(--color-body);
  --tw-prose-body: var(--color-body);
  --tw-prose-links: var(--color-primary-cuny-blue);
  --tw-prose-bold: var(--color-body);
  --tw-prose-counters: var(--color-body);
  --tw-prose-bullets: var(--color-body);
  --tw-prose-hr: var(--color-body);
  --tw-prose-quotes: var(--color-heading);
  --tw-prose-quote-borders: var(--color-heading);
  --tw-prose-captions: var(--color-heading);
  --tw-prose-code: var(--color-heading);
  --tw-prose-pre-code: var(--color-heading);
  --tw-prose-pre-bg: var(--color-heading);
  --tw-prose-th-borders: var(--color-heading);
  --tw-prose-td-borders: var(--color-heading);
}

.prose {
  :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    @apply text-heading;
  }
  
  :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    @apply text-heading;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

.text-trim {
  text-box: trim-both cap alphabetic;
}

.echo.duplicate {
  color: transparent;
  -webkit-text-stroke: var(--color-secondary-chartreuse) 2px;
  transform-origin: center;
}

/* Utility classes */
.max-width-wrapper {
  @apply mx-auto max-w-3xl px-6 lg:max-w-7xl lg:px-8;
}

.link {
  --default-color: var(--color-primary-sky);
  --hover-color: var(--color-primary-cuny-blue);

  @apply no-underline;
  background: 
    linear-gradient(to right, var(--default-color), var(--default-color)),
    linear-gradient(to right, var(--hover-color), var(--hover-color), var(--hover-color));
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
  
.link:hover,
.link:focus {
  background-size: 0 1px, 100% 1px;
}

.link-indigo-bg {
  --default-color: var(--color-primary-indigo);
  --hover-color: var(--color-primary-sky);
}

.link-breadcrumbs {
  --default-color: var(--color-neutral-dove);
  --hover-color: var(--color-neutral-charcoal);
}

.link-mega-menu {
  --default-color: var(--color-white);
  --hover-color: var(--color-primary-sky);
}

.link-midtown-blue-bg {
  --default-color: var(--color-primary-midtown-blue);
  --hover-color: var(--color-primary-sky);
}

.link-neutral-pearl-bg {
  --default-color: var(--color-neutral-pearl);
  --hover-color: var(--color-primary-sky);
}

.prose a:not(.not-prose a) {
  @apply no-underline;
  background: 
    linear-gradient(to right, var(--color-primary-sky), var(--color-primary-sky)),
    linear-gradient(to right, var(--color-primary-cuny-blue), var(--color-primary-cuny-blue), var(--color-primary-cuny-blue));
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
  
.prose a:not(.not-prose a):hover,
.prose a:not(.not-prose a):focus {
  background-size: 0 1px, 100% 1px;
}

.swiper-wrapper {
  @apply flex items-stretch;
}

.swiper-pagination {
  @apply !relative mt-3;
}